@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

* {
    transition: all 0.5s ease-in-out;
}

@layer components {
    .undo-redo {
        @apply relative
      flex justify-between items-center
      w-[40px] h-[24px]
      bg-lightRed stroke-lightPrimary dark:stroke-darkPrimary
      p-[2px] border-[2px] border-red rounded-[4px]
      cursor-pointer;
    }
}
